$bgColor: #202020;
$textColor: #F1F1F1;
$thumbnail: #5A5A5A;
$cardBgColor: #282828;
$actionButton: #AC3701;
$actionButtonHover: #FA5800;
$loghtPrimary: #EA9437;
$searchText: #666666;
$deleteButton: #f1294b;
// Light Theme
$lightBgColor: #FFFFFF;
$lightHeaderBgColor: #FDA600;
$lightTextColor: #282828;
$lightThumbnailBg: #F7F7F7;
$lightIconColor: #5A5A5A;
$lightListStrike: #202020;